.header__title {
    padding: 0 2em;
    margin: 0.5em;
    font-size: 3em;
    text-align: center;
    font-weight: 900;
    color: var(--sec-font-color);
}
.header__subtitle {
    font-size: smaller;
}